SUPABASE_URL=https://gqjhjysrivpgjbcvlkon.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxamhqeXNyaXZwZ2piY3Zsa29uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI1OTQxNiwiZXhwIjoyMDg3ODM1NDE2fQ.CMcWNFE39Bt-Su5e6T0VyglGcrIrOpRoS3FjLGLwXjo
GEMINI_API_KEY=AIzaSyByLd-KAd3dLH-1wiYTUFiJIAis59_tVWA
JWT_SECRET=reelgrowth_super_secret_jwt_key_2026
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
